body {
    font-family: 'Bitter', serif;
    background-color: oldlace;
    /*background-image: url(../images/tea-plants.jpg); background-size: cover;*/
}
header {
    background-image: url(../images/tea-leaves.jpg);
    background-size: cover;
}
h1 {
    font-family: 'Italianno', cursive; font-size: 60px;
    letter-spacing: 5px;
    color: oldlace;
    text-align: center;
    padding-top: 20px;
    margin-bottom: -10px;
}
.content-list {
    list-style-type: none;
    padding-bottom: 20px;
    overflow: hidden;
    text-align: center;
}
li {
    display: inline;
    padding: 10px;
  }
  a:link {
    color: oldlace;
  }
  a:visited {
      color:lightblue;
  }
h2 {
    font-family: 'Italianno', cursive; font-size: 40px;
    letter-spacing: 2px;
}
h3 {
    font-family: 'Italianno', cursive; font-size: 40px;
    letter-spacing: 2px;
}
img {
    max-width: 500px; height: auto;
    border-width: 20px;
    border-style: solid;
    border-color:white;
}
footer {
    background-image: url(../images/tea-leaves.jpg);
    background-size: cover;
    color: oldlace;
}