body {
    font-family: 'Bitter', serif;
    background-color: oldlace;
    /*background-image: url(../images/tea-plants.jpg); background-size: cover;*/
}

h1 {
    font-family: 'Italianno', cursive; 
    font-size: 60px;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    padding-top: 20px;
    margin-bottom: -10px;
}
.content-list {
    list-style-type: none;
    padding-bottom: 20px;
    overflow: hidden;
    text-align: center;
}
li {
    display: inline;
    padding: 10px;
  }
  a:link {
    color: black;
  }
  a:visited {
      color:cornflowerblue;
  }
h2 {
    font-family: 'Italianno', cursive; 
    font-size: 40px;
    letter-spacing: 2px;
}
h3 {
    font-family: 'Italianno', cursive; 
    font-size: 40px;
    letter-spacing: 2px;
}

img {
    max-width: 500px; 
    height: auto;
    border-width: 20px;
    border-style: solid;
    border-color:white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.card__info {
    max-width: 450px;
    max-height: 100%;
}

footer {
    color: black;
}